priv/xsd/Cover.Contracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cover.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cover.Contracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    <xs:complexType name="Identity">
        <xs:sequence>
            <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Identity" nillable="true" type="tns:Identity" />
    <xs:complexType name="MessageInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
            <xs:element minOccurs="0" name="Creator" type="tns:MessageCreator" />
            <xs:element minOccurs="0" name="Format" type="tns:DataTransferFormat" />
            <xs:element minOccurs="0" name="FromOrgId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="FromSysId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="SessionId" type="xs:long" />
            <xs:element minOccurs="0" name="Size" type="xs:long" />
            <xs:element minOccurs="0" name="ToOrgId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ToSysId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Type" type="tns:MessageType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MessageInfo" nillable="true" type="tns:MessageInfo" />
    <xs:simpleType name="MessageCreator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sed" />
            <xs:enumeration value="Sev" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="MessageCreator" nillable="true" type="tns:MessageCreator" />
    <xs:simpleType name="DataTransferFormat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Plain" />
            <xs:enumeration value="SevenZipArchive" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DataTransferFormat" nillable="true" type="tns:DataTransferFormat" />
    <xs:simpleType name="MessageType">
        <xs:annotation>
            <xs:appinfo>
                <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Notification" />
            <xs:enumeration value="Document" />
            <xs:enumeration value="DocumentAddition" />
            <xs:enumeration value="ReplayDocument" />
            <xs:enumeration value="ReplayDocumentAddition" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
    <xs:complexType name="SessionInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="Error" nillable="true" type="tns:CommunicationError" />
            <xs:element minOccurs="0" name="MaxPartSize" type="xs:int" />
            <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="MessageSize" type="xs:long" />
            <xs:element minOccurs="0" name="SessionId" type="xs:long" />
            <xs:element minOccurs="0" name="Status" type="tns:SessionStatus" />
            <xs:element minOccurs="0" name="TransferredBytesCount" type="xs:long" />
            <xs:element minOccurs="0" name="Type" type="tns:SessionType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SessionInfo" nillable="true" type="tns:SessionInfo" />
    <xs:complexType name="CommunicationError">
        <xs:sequence>
            <xs:element minOccurs="0" name="Code" type="xs:int" />
            <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CommunicationError" nillable="true" type="tns:CommunicationError" />
    <xs:simpleType name="SessionStatus">
        <xs:annotation>
            <xs:appinfo>
                <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Opened">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InProgress">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Processed">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Failed">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Delivered">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="SessionStatus" nillable="true" type="tns:SessionStatus" />
    <xs:simpleType name="SessionType">
        <xs:annotation>
            <xs:appinfo>
                <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Upload" />
            <xs:enumeration value="Download" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="SessionType" nillable="true" type="tns:SessionType" />
    <xs:complexType name="DownloadChunkResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="MessageChunk" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="Session" nillable="true" type="tns:SessionInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DownloadChunkResponse" nillable="true" type="tns:DownloadChunkResponse" />
    <xs:complexType name="MessageValidationInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Session" nillable="true" type="tns:SessionInfo" />
            <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MessageValidationInfo" nillable="true" type="tns:MessageValidationInfo" />
    <xs:complexType name="ArrayOfSessionInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionInfo" nillable="true" type="tns:SessionInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfSessionInfo" nillable="true" type="tns:ArrayOfSessionInfo" />
    <xs:complexType name="ArrayOfMessageInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageInfo" nillable="true" type="tns:MessageInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfMessageInfo" nillable="true" type="tns:ArrayOfMessageInfo" />
</xs:schema>
